CompileFlags:
  Compiler: C:/msys64/mingw64/bin/g++.exe
  Add:
    - "-std=c++17"
    - "--target=x86_64-w64-mingw32"
    - "-fparse-all-comments"
  Remove:
    - "-Wconversion"
  QueryDriver:
    - "C:/msys64/mingw64/bin/g++.exe"

Index:
  Background: Build

Style:
  BasedOnStyle: Chromium
  IndentWidth: 4
  UseTab: Never
  ColumnLimit: 80
  AllowShortBlocksOnASingleLine: Never
  AllowShortFunctionsOnASingleLine: None
  FixNamespaceComments: true
